on:
  push:
    branches:
      - main
  pull_request: 
    branches:
      - main
 
jobs:
  relay:
    runs-on: self-hosted   

    steps:
      - name: Trigger Jenkins internally
        run: |
          curl -X POST \
            -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{
              "repo": "${{ github.repository }}",
              "branch": "${{ github.ref_name }}",
              "commit": "${{ github.sha }}",
              "actor": "${{ github.actor }}"
            }' \
            "http://localhost:8080/job/Python%20code/build?token=test"
