on:
  push:
    branches:
      - main
  commit:
    branches:
      - main
  pull:
    branches:
      - main
 
jobs:
  scancentral-scan:
    runs-on: [self-hosted, windows]
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Show workspace
        run: pwd
 
      - name: Run ScanCentral in workspace
        run: |
          scancentral -url http://172.16.2.104:7652/scancentral-ctrl start -bt none
